/* ---------------------------------------------about--------------------------------- */
.about-content {
    margin-top: 60px;
}

.about-img img {
    object-fit: cover;
}

.about-text {
    background-color: #212121;
    padding: 10px 20px;
}

.about-text p{
    text-align: center;
    font-size: 1rem;
    line-height: 1.5;
}

.chef-img img {
    clip-path: polygon(0% 0%, 75% 0%, 97% 68%, 75% 100%, 0% 100%);
}

.chef-text {
    padding: 10px 20px;
}

.chef-text p{
    text-align: left;
    font-size: 1rem;
    line-height: 1.7;
}

