/* --------------------------------mainimage---------------------------------------- */
.slide-mainimg {
    width: 100%;
    margin: 0;
}

.slide-mainimg .slick-next {
    right: 0px;
    z-index: 100;
    width: 36px;
}

.slide-mainimg .slick-prev {
    left: 0px;
    z-index: 100;
    width: 36px;
}

.slide-mainimg .slick-next::before,
.slide-mainimg .slick-prev::before {
    font-size: 2rem;
}

.mainimg {
    width: 100%;
}

.mainimg img{
    object-fit: cover;
    width: 100%;
}

.slick-dots li button:before {
    color: #fff;
}

.slick-dots li.slick-active button:before {
    color:white;
}



/* -----------------------------------more------------------------------------------        */
.more a {
    color:#D9b54A;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    padding: 5px 10px;
    border: 2px solid #D9b54A;
    margin-bottom: 10px;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    transition: .4s;
}

.more a::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background:#D9b54A;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform ease .3s;
}

.more a:hover {
    color:#212121
}

.more a:hover::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
}

/* ---------------------------------------news------------------------------------------ */
.news-item {
    /* border-top: 1px solid #D9b54A; */
    /* border-bottom: 1px solid #D9b54A; */
    padding: 30px 15px;
    position: relative;
    display: inline-block;
    transition: .3s;
}

.news-item::before,
.news-item::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #D9b54A;
    transition: .3s;
}

.news-item::before {
    top: 0;
    left: 0;
}

.news-item::after {
    bottom: 0;
    right: 0;
}

.news-item:hover::before,
.news-item:hover::after {
    width: 100%;
}

.news h4 {
    color: #fff;
    margin: 20px 0;
    font-weight: 600;
    line-height: 1.5;
}

.news p {
    font-size: 1rem;
    line-height: 1.5;
}

/* ---------------------------------------------about--------------------------------- */
.about-left {
    padding: 10px 30px;
}

.about-text {
    background-color: #212121;
    padding: 20px 20px;
    
}

.about-text p{
    text-align: center;
    font-size: 1rem;
    line-height: 1.5;
}

/* ----------------------recommendation------------------------------ */
.card-body h5 {
    color: #fff;
    margin-top: 10px;
    font-weight: 600;
}

.card-body p {
    font-size: 1rem;
    line-height: 1.5;
}

.card {
    padding: 0;
    border: 0;
}

.card a {
    text-decoration: none;
}

.card a::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index:2;
    background:#000;
    opacity:0;
    transition:0.3s;
}

.card a::after {
    content:"";
    display:block;
    width:0;
    height: 2px;
    position:absolute;
    bottom:0;
    left:0;
    z-index:3;
    transition:0.3s;
    background:#D9b54A;
}

.card a:hover::before {
    opacity: .3;
}

.card a:hover::after {
    width: 100%;
}

.rec-item {
    width: 100%;
    height: auto;
}

.rec-item img {
    object-fit: cover;
}

/* -------------------------------menu--------------------------------------------- */
.menu {
    margin-bottom: 40px;
}

.menu-item {
    padding: 0;
    position: relative;
}

.menu-text {
    margin: 10px 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

.menu-text p{
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;

}

.menu-img img {
    object-fit: cover;
    opacity: .8;
}

.menu-item a::before {
    content:"";
    display:block;
    width:100%;
    height:100%;
    position:absolute;
    z-index:2;
    background:#000;
    opacity:0;
    transition:0.3s;
}

.menu-item a::after {
    content:"";
    display:block;
    width:0;
    height:2px;
    position:absolute;
    bottom:0;
    left:0;
    z-index:3;
    transition:0.3s;
    background:#D9b54A;
}

.menu-item a:hover::before {
    opacity: .3;
}

.menu-item a:hover::after {
    width: 100%;
}

/* ----------------------------------------access--------------------------------------- */
.access-text {
    margin-top: 10px;
}

.access-text a {
    color:#D9b54A;
    text-decoration: none;
    font-size: 1rem;
    padding: 5px 10px;
    border: 1px solid #D9b54A;
    margin-bottom: 10px;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    transition: .4s;
}

.access-text a::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: #D9b54A;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform ease .3s;
}

.access-text a:hover {
   color: #000;
}

.access-text a:hover::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
}

.access-text h4 {
    color: #fff;
    border-bottom: 1px solid #D9b54A;
    padding: 10px 0;
}

.access-text p {
    font-size: 1rem;
    line-height: 1.5;
}
