html {
    font-size: 10px;
}

body {
    background-color: #000;
    font-family:serif;
}

p {
    color: #fff;
}
/* ------------------------------header----------------------------------------------- */
.header {
    transition: .5s;
}
.header.hide {
    transform: translateY(-200px);
}

.header-logo a:hover {
    opacity: .7;
}

.nav a {
    color: #fff;
    font-size: 1.6rem;
    /* font-weight: 600; */
}

.nav-item {
    margin: 0 10px;
}

.nav-item a {
    position: relative;
    display: inline-block;
    transition: .3s;
}

.nav-item a::before, 
.nav-item a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    background-color: #D9b54A;
    transition: .3s;
}

.nav-item a::before {
    top: 0;
    left: 0;
}

.nav-item a::after {
    bottom: 0;
    right: 0;
}

.nav-item a:hover::before,
.nav-item a:hover::after {
    width: 100%;
}

/* --------------------------------mainimage---------------------------------------- */
.slide-mainimg {
    width: 100%;
    margin: 0;
}

.slide-mainimg .slick-next {
    right: 0px;
    z-index: 100;
    width: 36px;
}

.slide-mainimg .slick-prev {
    left: 0px;
    z-index: 100;
    width: 36px;
}

.slide-mainimg .slick-next::before,
.slide-mainimg .slick-prev::before {
    font-size: 36px;
}

.mainimg {
    width: 100%;
}

.mainimg img{
    object-fit: cover;
    width: 100%;
}

.slick-dots li button:before {
    color: #fff;
}

.slick-dots li.slick-active button:before {
    color:white;
}



/* -----------------------------------more------------------------------------------        */
.more a {
    color:#D9b54A;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 5px 10px;
    border: 2px solid #D9b54A;
    margin-bottom: 10px;
    border-radius: 5px;

    position: relative;
    z-index: 1;
    transition: .4s;
}

.more a::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background:#D9b54A;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform ease .3s;
}

.more a:hover {
    color:#212121
}

.more a:hover::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
}

/* ---------------------------------------news------------------------------------------ */
.news-item {
    /* border-top: 1px solid #D9b54A; */
    /* border-bottom: 1px solid #D9b54A; */
    padding: 30px 15px;
    position: relative;
    display: inline-block;
    transition: .3s;
}

.news-item::before,
.news-item::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #D9b54A;
    transition: .3s;
}

.news-item::before {
    top: 0;
    left: 0;
}

.news-item::after {
    bottom: 0;
    right: 0;
}

.news-item:hover::before,
.news-item:hover::after {
    width: 100%;
}

.news h3 {
    color: #fff;
    margin: 20px 0;
    font-weight: 600;
}

.news p {
    font-size: 1.4rem;
    line-height: 1.5;
}

/* ---------------------------------------------about--------------------------------- */
.about-left {
    padding: 10px 30px;
}

.about-text {
    background-color: #212121;
    padding: 20px 20px;
    
}

.about-text p{
    text-align: center;
    font-size: 1.8rem;
    line-height: 1.5;
}

/* ----------------------recommendation------------------------------ */
.card-body h3 {
    color: #fff;
    margin-top: 10px;
    font-weight: 600;
}

.card-body p {
    font-size: 1.4rem;
    line-height: 1.5;
}

.card {
    padding: 0;
    border: 0;
}

.card a {
    text-decoration: none;
}

.card a::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index:2;
    background:#000;
    opacity:0;
    transition:0.3s;
}

.card a::after {
    content:"";
    display:block;
    width:0;
    height:px;
    position:absolute;
    bottom:0;
    left:0;
    z-index:3;
    transition:0.3s;
    background:#D9b54A;
}

.card a:hover::before {
    opacity: .3;
}

.card a:hover::after {
    width: 100%;
}

.rec-item {
    width: 100%;
    height: auto;
}

.rec-item img {
    object-fit: cover;
}

/* -------------------------------menu--------------------------------------------- */
.menu {
    margin-bottom: 40px;
}

.menu-item {
    padding: 0;
    position: relative;
}

.menu-text {
    margin: 10px 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

.menu-text p{
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;

}

.menu-img img {
    object-fit: cover;
    opacity: .8;
}

.menu-item a::before {
    content:"";
    display:block;
    width:100%;
    height:100%;
    position:absolute;
    z-index:2;
    background:#000;
    opacity:0;
    transition:0.3s;
}

.menu-item a::after {
    content:"";
    display:block;
    width:0;
    height:4px;
    position:absolute;
    bottom:0;
    left:0;
    z-index:3;
    transition:0.3s;
    background:#D9b54A;
}

.menu-item a:hover::before {
    opacity: .3;
}

.menu-item a:hover::after {
    width: 100%;
}

/* ----------------------------------------access--------------------------------------- */
.access-text {
    margin-top: 10px;
}

.access-text a {
    color:#D9b54A;
    text-decoration: none;
    font-size: 1.4rem;
    padding: 5px 10px;
    border: 1px solid #D9b54A;
    margin-bottom: 10px;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    transition: .4s;
}

.access-text a::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: #D9b54A;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform ease .3s;
}

.access-text a:hover {
   color: #000;
}

.access-text a:hover::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
}

.access-text h3 {
    color: #fff;
    border-bottom: 1px solid #D9b54A;
    padding: 10px 0;
}

.access-text p {
    font-size: 1.6rem;
    line-height: 1.5;
}

/* -----------------------------------footer----------------------------------------- */
.footer-logo-img a:hover {
    opacity: .7;
}

.sns-img a :hover {
    opacity: .7;
}

/* ------------------------------------------toppage-------------------------------------- */
.totop-arrow {
    width: 4.8rem;
    height: 4.8rem;
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 33%;
    background: #212121;
    cursor: pointer;
    opacity: .6;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 99;
    display: none;
}

.totop-arrow::before, .totop-arrow::after {
    content: "";
    width: 25px;
    height: 6px;
    border-radius: 5px;
    background: #D9b54A;
    position: absolute;
}

.totop-arrow::before {
    transform: rotate(-45deg) translate(0, -50%);
    left: 0.67rem;
}

.totop-arrow::after {
    transform: rotate(45deg) translate(0, -50%);
    right: 0.67rem;
}

.totop-arrow:focus {
    outline: none;
}

.totop-arrow:hover {
    background: #fff;
}
/* ------------------------------------------------------header-m------------------- */
.header-m {
    display: none;
}

.menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 48px;
    width: 48px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: #212121;
    opacity: .7;
    border-radius: 5px;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #fff;
    position: absolute;
}
.menu-btn span:before {
    bottom: 8px;
}
.menu-btn span:after {
    top: 8px;
}

#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);
}
#menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}

#menu-btn-check {
    display: none;
}

.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 80;
    background-color: rgba(0, 0, 0, .8);
    transition: all 0.5s;
}

#menu-btn-check:checked ~ .menu-content {
    left: 0;
}

.menu-content ul {
    padding: 70px 10px 0;
}
.menu-content ul li {
    border-bottom: solid 1px #ffffff;
    list-style: none;
}
.menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color:#ffffff;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
    
}
.menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
    
}

/* -------------------------------------mobile------------------------------------- */
@media screen and (max-width:576px) {
    .header {
        display: none;
    }

    .header-m {
        display: block;
    }

}